.title{
    text-align: center;
}
img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightgray;
}
.profile{
    text-align: center;
}
div .cards .card{
    text-align: center;
    width: 250px;
    height: auto;
    padding:20px;
    display: inline-block;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
div .cards{
    text-align: center;
}
.bottom {
    padding: 15px;
}
.author{
    padding: 10px;
    font-weight: bold;
}
.org{
    font-weight: 00;
    color: gray;
}
.subtitle{
    color: gray;
}